
<mat-drawer-container class="container" autosize>
  <mat-drawer class="sidenav" mode="side" opened>

    <mat-form-field class="full-width">
      <mat-label>City</mat-label>
      <input matInput type="search" placeholder="City" (keyup)="onKey($event)">
    </mat-form-field>

    <div [hidden]="matchedCities.length > 0">
      <span *ngIf="searchString === ''">Type city above</span>
      <span *ngIf="searchString !== ''">Not match!</span>
    </div>

    <mat-list [hidden]="matchedCities.length === 0">
      <mat-list-item *ngFor="let city of matchedCities">
        
        <span (click)="toggleFav(city)" class="fav">
          <fa-icon [hidden]="isFav(city)" [icon]="farStar"></fa-icon>
          <fa-icon [hidden]="!isFav(city)" [icon]="fasStar"></fa-icon>
        </span>

        <p matLine>{{city}}</p>
      </mat-list-item>
    </mat-list>

  </mat-drawer>

  <mat-drawer-content class="sidenav-content">
    <app-dashboard></app-dashboard>
  </mat-drawer-content>

</mat-drawer-container>
