
$margin: 10px;
$tile-size: 140px;

.container {
  margin: $margin;
}

.cards {
  margin: 0 -$margin 0 -$margin;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  margin: $margin;
  width: $tile-size;
  height: $tile-size;
}
