
<mat-form-field class="full-width">
  <mat-label>City</mat-label>
  <input matInput
    type="search"
    placeholder="City"
    (keyup)="onKey($event)"
    [ngModel]="visibleCity">
  <button mat-button matSuffix mat-icon-button aria-label="Geolocation">
    <mat-icon *ngIf="!isGeolocated" (click)="locate()">gps_not_fixed</mat-icon>
    <mat-icon *ngIf="isGeolocated" (click)="locate()">gps_fixed</mat-icon>
  </button>
</mat-form-field>

<div [hidden]="matchedCities.length > 0">
  <span *ngIf="searchString === ''">Type city above</span>
  <span *ngIf="searchString !== ''">Not match!</span>
</div>

<mat-list [hidden]="matchedCities.length === 0">
  <mat-list-item
    matRipple 
    (click)=redirect(city)
    class="list-item"
    *ngFor="let city of matchedCities">
    
    <span (click)="toggleFav(city, $event)">
      <fa-icon [hidden]="isFav(city)" [icon]="farStar"></fa-icon>
      <fa-icon [hidden]="!isFav(city)" [icon]="fasStar"></fa-icon>
    </span>

    <p matLine>{{ city }}</p>
  </mat-list-item>
</mat-list>
