
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <h3>
        Weather in {{city}}
        <button mat-icon-button color="accent" (click)="toggleFav(city)">
          <mat-icon *ngIf="!isFav(city)">star_outline</mat-icon>
          <mat-icon *ngIf="isFav(city)">star</mat-icon>
        </button>
      </h3>
    </span>

    <span class="spacer"></span>

    <div class="toolbar-icon" routerLink="/">
      <button mat-mini-fab aria-label="Go to dashboard">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <pre>{{ detailedWeather | json }}</pre>
</mat-card>
