
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <h3>
        Weather in {{city}}
        <span (click)="toggleFav(city, $event)">
          <fa-icon [hidden]="isFav(city)" [icon]="farStar"></fa-icon>
          <fa-icon [hidden]="!isFav(city)" [icon]="fasStar"></fa-icon>
        </span>
      </h3>
    </span>

    <span class="spacer"></span>

    <div class="toolbar-icon" routerLink="/">
      <button mat-mini-fab aria-label="Go to dashboard">
        <fa-icon [icon]="faHome"></fa-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <pre>{{ detailedWeather | json }}</pre>
</mat-card>
